@page "/todo"

@using Models;

<h3>Todo</h3>

<ul>
    @foreach (var item in Todos)
    {
        <li>@item.Title</li>
    }
</ul>

<div class="container">
    <div class="row">
        <div class="col-2">
            <input @bind="NewTodo" placeholder="What do you need to do?" />
        </div>
        <div class="col-2">
            <input @bind="DueDate" placeholder="Due date" />
        </div>
        <div class="col-2">
            <button @onclick="Save">Save</button>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(NewTodo))
{
    <p>@NewTodo Due: @DueDate?.ToShortDateString()</p>
}

@code {
    private List<TodoItem> Todos = new();
    private string NewTodo = string.Empty;
    private DateTime? DueDate = null;

    private void Save()
    {
        if (!string.IsNullOrEmpty(NewTodo)) return;

        Todos.Add(new TodoItem
        {
            Title = NewTodo
        });
        NewTodo = string.Empty;
    }
}